<div class="row">
  <% files.forEach(function(file) { %>

  <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2">
    <div class="ratio ratio-16x9">
      <div class="hoverImageMouse">
        <a href="<%= `${appUrl}${path}/${file.name}` %>" target="_blank">
          <img src="<%= `${appUrl}${path}/${file.name}` %>?width=300" class="rounded img-fluid spinnerWhileLoad"
            alt="<%= file.name %>" />
        </a>
      </div>
    </div>
  </div>

  <% }); %>
</div>